---
// AnimatedSalsa.astro
---

<div class="relative w-full">
  <div
    class="animated-salsa opacity-0 transition-transform transform duration-1000 ease-out will-change-transform w-full"
    data-direction={Astro.props.direction}>
    <slot />
  </div>
</div>

<script>
  const animatedSalsas = document.querySelectorAll(".animated-salsa");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const direction = (entry.target as HTMLElement).dataset.direction;
          entry.target.classList.remove(
            "opacity-0",
            "-translate-x-full",
            "translate-x-full"
          );
          entry.target.classList.add("opacity-100", "translate-x-0");
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.1 }
  );

  animatedSalsas.forEach((salsa) => {
    const direction = (salsa as HTMLElement).dataset.direction;
    if (direction === "left") {
      salsa.classList.add("-translate-x-full");
    } else {
      salsa.classList.add("translate-x-full");
    }
    observer.observe(salsa);
  });
</script>

<style>
  .animated-salsa {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition:
      transform 1s ease-out,
      opacity 1s ease-out;
  }
</style>
