---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import Container from "./container.astro";
---

<main class="relative min-h-[80vh] bg-background overflow-hidden">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 flex flex-col lg:flex-row items-center justify-between">
    <!-- Contenedor del texto -->
    <div class="flex-1 max-w-2xl pt-16 lg:pt-32 pb-8 lg:pb-32 relative z-20">
      <h1
        class="text-title text-5xl lg:text-6xl xl:text-7xl font-black leading-tight">
        PANZA LLENA,<br /> CORAZÓN CONTENTO
      </h1>

      <div class="mt-8 flex flex-wrap gap-4">
        <Link
          href="https://pedixapp.com"
          target="_blank"
          class="inline-flex px-6 py-3 text-base font-medium text-white bg-[#F4B223] hover:bg-[#E5A420] rounded-lg transition-colors"
          rel="noopener">
          Hacer Pedido
        </Link>
        <Link
          href="/carta"
          class="inline-flex px-6 py-3 text-base font-medium text-[#2D2D2D] bg-white hover:bg-gray-50 rounded-lg transition-colors border border-gray-200"
          rel="noopener"
          target="_blank">
          Ver Menú
        </Link>
      </div>
    </div>

    <!-- Contenedor de la imagen -->
    <div
      class="flex-1 relative z-10 lg:right-0 lg:top-0 lg:bottom-0 lg:w-1/2 justify-end">
      <Picture
        src={heroImage}
        alt="Plato de comida deliciosa"
        widths={[400, 768, 1024, 1440]}
        sizes="(max-width: 768px) 100vw, 50vw"
        loading="eager"
        format="avif"
        class="w-full h-full object-cover lg:inset-0"
      />
    </div>
  </div>
</main>
