---
import { Picture } from "astro:assets";
import tableImage from "assets/table.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import Container from "./container.astro";
---

<main class="relative min-h-[80vh] bg-white overflow-hidden">
  <div class="flex flex-col lg:flex-row items-center">
    <!-- Contenedor de la imagen -->
    <div class="flex-1 relative z-10 lg:w-2/5 overflow-visible">
      <div class="w-[200%] relative -ml-32 -mt-16">
        <Picture
          src={tableImage}
          alt="Mesa con comida deliciosa"
          widths={[400, 768, 1024, 1440]}
          sizes="(max-width: 768px) 100vw, 40vw"
          loading="eager"
          format="avif"
          class="w-full h-auto lg:h-[90vh] object-cover rotate-[90deg] lg:rotate-0 scale-[2] md:scale-100"
        />
      </div>
    </div>
    <Container>
      <div
        class="flex-1 max-w-xl lg:pl-12 pt-8 lg:pt-32 pb-8 lg:pb-32 relative z-20">
        <h1
          class="text-title text-4xl lg:text-5xl xl:text-6xl font-black leading-tight">
          Sabores <br /> auténticos,<br /> más ricos
        </h1>
        <hr class="h-px border-0 my-8 w-10 bg-primary mt-5" />
        <p class="mt-6 text-lg text-title leading-relaxed">
          Llenos de <span class="text-primary font-medium">sabor</span> y preparados
          con ingredientes de la
          <span class="text-primary font-medium">más alta calidad</span>,
          nuestras especialidades son ideales para cualquier ocasión.
        </p>
        <p class="mt-4 text-lg text-title leading-relaxed">
          Es por esto que recomendamos que sorprendas a tus invitados, con
          nuestros productos en cualquier tipo de evento.
        </p>
        <a
          href="/about"
          class="inline-block mt-10 px-4 py-2 text-[#ffffff] bg-[#F4B223] hover:bg-[#E5A420] rounded-lg transition-colors">
          Más sobre KOOK
        </a>
      </div>
    </Container>
  </div>
</main>

<style>
  @media (max-width: 768px) {
    .rotate-\[90deg\] {
      transform: rotate(90deg);
    }
  }

  @media (min-width: 769px) {
    .lg\:rotate-0 {
      transform: rotate(0deg);
    }
  }
</style>
