---
import { Icon } from "astro-icon/components";
import Card from "./ui/products/card.astro";
import bondiolaImage from "../assets/products/bondiola.jpg";
import picadaImage from "../assets/products/picada.png";
import sandwichesImage from "../assets/products/sandwiches.jpeg";
import tortaSalada from "../assets/products/tortasalada.jpg";
import Container from "./container.astro";
---

<section class="w-full bg-background">
  <div
    class="flex flex-col items-center justify-center max-w-7xl mx-auto px-4 py-16 lg:py-12">
    <Container>
      <h1
        class="text-title text-4xl lg:text-5xl xl:text-6xl font-black leading-tight text-center mb-12">
        Nuestros productos
        <br />
        <span class="block mt-2">destacados</span>
      </h1>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 place-items-center justify-items-center w-full">
        <Card
          imageSrc={bondiolaImage}
          imageAlt="Bondiola Braseada"
          title="Bondiola Braseada"
          description="Deliciosa bondiola de cerdo cocinada a fuego lento"
          link="https://pedix.app/kook-espacio/categoria/QUneuXCBCILG7NqpmxXV"
        />
        <Card
          imageSrc={sandwichesImage}
          imageAlt="Sandwiches Gourmet"
          title="Sandwiches Gourmet"
          description="Sandwiches gourmet de miga o chips de la mejor calidad"
          link="https://pedix.app/kook-espacio/categoria/W5JifotRPMHsbJKyjkrM"
        />
        <Card
          imageSrc={tortaSalada}
          imageAlt="Torta Salada"
          title="Tortas Saladas"
          description="Tortas saladas ideales para cualquier ocasión"
          link="https://pedix.app/kook-espacio/categoria/uYLMGdyEho8VqTVMhtQ8"
        />
      </div>
    </Container>
  </div>
</section>
